<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>问卷调查</title>
    <link href="/static/lib/layui/css/layui.css" rel="stylesheet"/>
    <link href="/static/css/style.css" rel="stylesheet">
    <style>
        .btn-wrap {
            margin: 45% auto;
            min-height: 250px;
            text-align: center;
        }
    </style>
</head>
<body>
<div th:insert="~{header}"></div>
<div>
    <div class="layui-col-md6">
        <div class="btn-wrap">
            <a href="/questionnaire/create"
               class="layui-btn  layui-bg-blue layui-btn-lg  layui-btn-radius">立即发起调查</a>
        </div>
    </div>
    <div class="layui-col-md6" style="margin: 8%auto">
        <img src="/static/images/analysis.png" style="width: 400px" alt="img">
    </div>
</div>

</body>
<script src="/static/lib/layui/layui.all.js"></script>
<script src="/static/lib/jquery-1.9.1.min.js"></script>
</html>